extends ../layout/layout

block content
  h1.h3.mb-0.text-gray-800  Consultas
  
  .container
      .row
        each item in consultas
          .card.mb-1 
            .card-body
              h5.card-title= "Diagnóstico: " + item.diagnostico
              .card-text
                a(href=`consulta/visualizacao?consulta=${item.id}&idInstituicao=${item.id_instituicao}` name="exameVisualizacao" class="btn btn-primary") Visualizar             
                a(href=`exame/?exame=${item.id}` name="exameVisualizacao" class="btn btn-danger") Excluir

  a( id="add" class="mt-auto p-2 bd-highlight" href='consulta/add')
    img(src="/images/add.png" alt="csdsdfs" width="100px")
