extends ../layout/layout
block content
  h2 Lista de Consulta(s)
  div(class="row")
    div(class="col-3")
      div(class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical")
        h5 Consultas
        a(class="btn btn-outline-primary badge-light nav-link active espaco" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true")= "Adicionar Consulta"
        each item in consultas
          input( type="date" class="btn btn-outline-primary nav-link badge-light espaco" id="v-pills-tab"+item.id data-toggle="pill" href="#tab"+item.id role="tab" aria-controls="v-pills-home" aria-selected="false" value=item.dataConsulta readonly=true)
    div(class="col-9")
      div(class="tab-content" id="v-pills-tabContent")
        div(class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab")
          block formAdConsulta
            include ./formularioAddConsulta
        each item in consultas
          div(class="tab-pane fade bordaLateral" id="tab"+item.id role="tabpanel" aria-labelledby="v-pills-settings-tab") 
            ul(class="nav nav-tabs bordaBottom" id="myTab" role="tablist")
              li(class="nav-item")
                a(class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true") Visualização
              li(class="nav-item")
                a(class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false") Editar
              li(class="nav-item")
                a(class="nav-link" id="contact-tab" role="tab" data-toggle='modal' data-target='#modalExcluir' aria-controls="excluir" data-id=item.id aria-selected="false") Excluir
            each inst in instituicao
              if item.idInstituicao == inst.id
                div(class="card-body table-responsive")
                  block form
                    include ./formEdicaoVisualizacao
                break
    div(id='modalExcluir' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='modalExcluirLabel' aria-hidden='true')
                div(class='modal-dialog' role='document')
                  div(class='modal-content')
                    div(class='modal-body')
                      form(method='POST' action='/consulta/del' class="form-signin")
                        div(class='form-group')
                          input(id='idEdit' type='hidden' name='id')
                          h5 Você realmente deseja excluir esta consulta???
                        div(class="modal-footer")
                          button(class="btn btn-secondary" type='button' data-dismiss='modal') NÃO
                          input(class='btn btn-primary' type='submit' value='SIM')